{
    "agentType": "database",
    "pluginClassName": "RedisPlugin",
    "pluginFileName": "RedisPlugin",
    "taskConf": {
                    "host": "127.0.0.1",
                    "port": 6379,
                    "password" : "redis",
                    "pluginTime": 30
                },
    "host_mac": "00:0e:c6:c5:1b:56"
}